body, html, #root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.grid-container {
	position: relative;
	display: inline-block;
	width: fit-content;
	height: fit-content;
}

.maze-grid {
	display: flex;
	flex-direction: column;
	margin: auto;
	align-items: center;
}

.maze-row {
	display: flex;
}

.debug-maze-cell {
	width: 2em;
	height: 2em;
	background-color: royalblue;
	border: 2px solid #444;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-family: monospace;
	font-size: 0.9rem;
	text-transform: capitalize;
}

.debug-player-cell {
  background-color: magenta;
  color: white;
  font-weight: bold;
  border: 2px solid #000;
  z-index: 1;
}

.debug-maze-cell.blank-cell {
    background-color: green;
}

.maze-cell {
	width: 7rem;
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;

	/* For background behind item icons */
	background-image: url("/src/assets/Path02.png");
	background-size: cover;
	background-repeat: no-repeat;
}


.item-overlay {
	position: absolute;
	right: 0%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 0.5rem;
	color: #eee;
	width: fit-content;
	z-index: 10;
}

.item-status {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}

.item-icon svg {
	width: 1.5rem;
	height: 1.5rem;
}

.path-cell {
	background-image: url("/src/assets/Path02.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.maze-cell.blank-cell {
	background-color: #000;
	background-image: url(/src/assets/Blank04-1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.win-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.85);
    padding: 2rem 3rem;
    border: 3px solid #00ff88;
    border-radius: 1rem;
    color: white;
    font-family: 'monospace';
    text-align: center;
}

.win-message h1 {
    font-size: 2rem;
}

.win-message p {
    font-size: 1.2rem;
}